*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}
nav img{
  position: absolute;
  width: 10%;
  margin: 20px 20px;
}
.hamburguer {
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  z-index: 2 ;
  cursor: pointer;
  width: 30px;
  padding-top: 11px;
  height: 13px;
}
input{
  background: #fff;
}
/*---Desenha as 3 barras do hamburguer---*/
.barra {
  position: fixed;
  display: block;
  width: 30px;
  height: 3px;
  transition: 0.2s ease-in-out;
  border-radius: 200px;
  background: #d92d2d;
}
.barra:before,
.barra:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #d92d2d;
  position: absolute;
  transition: 0.5s ease-in-out;
  border-radius: 200px;
}
.barra:before {
  bottom: 10px;
}
.barra:after {
  top: 10px;
}
#hamburguer , #menu{
  display: none;
}
/*--Rotação das barras para formar uma cruz--*/
input:checked~div .barra {
  transform: rotate(45deg);
  background: #fff;
}
input:checked~div .barra:before {
  transform: rotate(90deg);
  bottom: 0;
  background: #fff;
}
input:checked~div .barra:after {
  transform: rotate(90deg);
  top: 0;
  background: #fff;
}
input:checked~div .menu {
  display: block;
}

/*--Desenho do menu--*/
.menu{
  display: none;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.tr {
  display: none;
  position: absolute;
  height: 100vh;
  width: 25vw;
}
.tr h2{
  font-weight: 900;
  font-size: 300px;
  margin-top: calc(100vh - 300px);
  color: transparent;
  -webkit-text-stroke: 3px black;
}
.menu img{
  display: none;
  position: absolute;
  height: 100vh;
  width: 25vw;
  margin: 0;
  top: 0;
}
.menu-info {
  float: right;
  background-color: #d92d2d;
  width: 25vw;
  height: 100vh;
  right: 0;
  box-shadow: -5px 0px 50px 0px #202020;
}
.menu ul{
  margin-top: 35%;
}
.menu li{
  margin-top: 40px;
  list-style: none;
  text-align: right;
  margin-right: 20px;
}
.menu a {
  font-size: 3em;
  text-decoration: none;
  color: #fff;
}
.menu a:hover{
  color: #000;
  transition: 0.3s;
}
.menu-transp{
  position: absolute;
  width: 75vw;
  height: 100vh;
  background: rgba(20,20,20,0.8);
}
@media screen and (max-width: 800px) {
  .menu a{
    font-size: 1.5em;
  }
  .menu-info{
    width: 50vw;
  }
  .menu-transp{
    width: 50vw;
  }
}



/*--------------------FOOTER---------------------*/
footer{
  background-color: #202020;
  height: 200px;
}
.footer-container{
  display: flex;
  padding-top: 10px;
  margin-left: 20px;
  justify-content: space-between;
}
.parceiros img{
  display: block;
  width: 50%;
}
.contactos{
  margin-top: 50px;
}
.contactos p{
  color: #777;
}
.social{
  margin-top: 60px;
}
.social img{
  width: 20%;
  margin-right: 20px;
}
