* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

nav img {
  position: absolute;
  width: 15%;
  margin: 20px 20px;
}

.hamburguer {
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  z-index: 2;
  width: 30px;
  padding-top: 11px;
  height: 13px;
}

label {
  cursor: pointer;
}

/*---Desenha as 3 barras do hamburguer---*/
.barra {
  position: fixed;
  display: block;
  width: 30px;
  height: 3px;
  box-shadow: 0px 0px 3px 0px #1f1f1f;
  transition: 0.2s ease-in-out;
  border-radius: 200px;
  background: #d92d2d;
}

.barra:before,
.barra:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px 0px #1f1f1f;
  background: #d92d2d;
  position: absolute;
  transition: 0.5s ease-in-out;
  border-radius: 200px;
}

.barra:before {
  bottom: 10px;
}

.barra:after {
  top: 10px;
}

#hamburguer, #menu {
  display: none;
}

/*--Rotação das barras para formar uma cruz--*/
input:checked~div .barra {
  transform: rotate(45deg);
  box-shadow: none;
  background: #fff;
}

input:checked~div .barra:before {
  transform: rotate(90deg);
  bottom: 0;
  box-shadow: none;
  background: #fff;
}

input:checked~div .barra:after {
  transform: rotate(90deg);
  top: 0;
  box-shadow: none;
  background: #fff;
}

input:checked~div .menu {
  display: block;
}

/*-----------------Desenho do menu-----------*/
.menu {
  display: none;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.menu-info {
  float: right;
  background-color: #d92d2d;
  width: 25vw;
  height: 100vh;
  user-select: none;
  right: 0;
  box-shadow: -5px 0px 50px 0px #202020;
}

.menu-info ul {
  margin-top: 35%;
}

.menu-info li {
  margin-top: 40px;
  list-style: none;
  text-align: right;
  margin-right: 20px;
}

.menu-info a {
  font-size: 3em;
  text-decoration: none;
  color: #fff;
}

.menu-info a:hover {
  color: #000;
  transition: 0.3s;
}

.menu-info img {
  position: absolute;
  user-select: none;
  width: 25vw;
  margin: 0;
  bottom: 0;
}

.menu-transp {
  position: absolute;
  width: 75vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.8);
}

@media screen and (max-width: 800px) {
  .menu-info ul {
    margin-top: 45%;
  }

  .menu a {
    font-size: 1.5em;
  }

  .menu-info {
    width: 50vw;
  }

  .menu-transp {
    width: 50vw;
  }

  .menu img {
    width: 55vw;
  }
}

/*--------------------FOOTER---------------------*/
footer {
  background-color: #202020;
  height: auto;
  padding-bottom: 2%;
}

.footer-container {
  padding-top: 10px;
}

.parceiros {
  display: flex;
  justify-content: center;
}

.parceiros img {
  margin-left: 2%;
  margin-right: 2%;
  width: 5%;
  height: 5%;
}

.parceiros img:nth-child(3) {
  margin-top: 5px;
  width: 3%;
}

.footer-infos {
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-infos h2 {
  font-size: 1.5em;
  margin-left: 0;
}

.footer-infos p {
  font-size: 1em;
  font-weight: 300;
}

.footer-infos a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}

.social {
  width: 2%;
  margin-top: -2%;
}

.social div {
  margin-top: 20%;
}

@media screen and (max-width: 800px) {
  .footer-infos {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .footer-infos {
    font-size: 0.3em;
  }
}
@media screen and (max-width: 400px) {
  .footer-infos {
    font-size: 0.2em;
  }
}
