#historia {
  height: auto;
  padding-bottom: 5%;
  background-image: url(../img/fundo-sobre.svg);
  background-size: cover;
}

.titulo-info {
  margin-top: 150px;
  margin-left: 33vw;
  position: absolute;
}

.titulo-info h1, h2 {
  width: 100%;
  margin-left: 5%;
  font-size: 5vw;
}

.titulo-info h2 {
  margin-left: 35%;
}

.info-intro {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 150px;
  display: flex;
}

.info-intro p {
  margin-top: 15%;
  margin-left: 13%;
  font-size: 18px;
}

.foto-historia img {
  width: 27vw;
}

.foto-historia img:nth-child(2) {
  display: none;
}

.foto-historia:hover img:first-child {
  display: none;
}

.foto-historia:hover img:nth-child(2) {
  display: block;
}

.info-desenv {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

.info-desenv img {
  margin-top: 5%;
  z-index: -1;
  width: 50%;
  height: 50%;
}

.info-desenv p {
  margin-right: 5%;
  text-align: right;
  margin-top: 17%;
}

@media screen and (max-width: 800px) {
  #historia {
    background-image: none;
    padding-bottom: 10%;
  }

  .titulo-info {
    margin-left: 50vw;
  }

  .titulo-info h1, h2 {
    font-size: 7vw;
  }

  .titulo-info h2 {
    margin-left: 4%;
  }

  .info-intro {
    padding-top: 80px;
    display: block;
  }

  .foto-historia img {
    width: 40vw;
  }

  .info-intro p {
    margin-top: 5%;
    font-size: 12px;
    margin-left: 0;
  }

  .info-desenv {
    display: block;
  }

  .info-desenv p {
    margin-top: 5%;
    text-align: left;
    font-size: 12px;
  }

  .info-desenv img {
    width: 70%;
    height: 70%;
  }
}

/*----------------CONDIÇÕES-----------------*/
#condicoes {
  height: auto;
  padding-bottom: 50%;
  background-image: url(../img/fundo-condicoes.svg);
  background-size: cover;
  background-position: bottom;
}

#condicoes h1 {
  font-size: 4em;
  margin-top: 10vh;
  margin-right: 12vw;
  float: right;
}

.capacidade {
  position: relative;
  margin-top: 10vh;
  margin-left: 5vw;
  width: 50vw;
}

.capacidade p {
  font-size: 1vw;
  text-align: center;
}

.interior img {
  z-index: -1;
  width: 100%;
  opacity: 0.6;
  position: absolute;
}

.total {
  padding-top: 15%;
  padding-bottom: 15%;
  position: absolute;
  margin-left: 7vw;
}

.total img {
  width: 12vw;
}

.lugares {
  padding-top: 7%;
  padding-bottom: 12%;
  float: right;
  margin-right: 7vw;
  text-align: center;
}

.lugares img {
  width: 8vw;
  margin-top: 15%;
}

.capacidade:hover .interior img {
  opacity: 1;
}

.capacidade:hover .lugares {
  display: none;
}

.capacidade:hover .total {
  display: none;
}

@media screen and (max-width: 800px) {
  #condicoes h1 {
    margin-top: -10vh;
    float: left;
    margin-left: 5vw;
    margin-right: 0vw;
    font-size: 2em;
  }

  #condicoes {
    padding-bottom: 70%;
  }

  .capacidade {
    width: 80vw;
  }

  .capacidade p {
    font-size: 2vw;
  }

  .total {
    padding-top: 17%;
    padding-bottom: 17%;
    margin-left: 15vw;
  }

  .total img {
    width: 17vw;
  }

  .lugares {
    padding-top: 8%;
    padding-bottom: 14%;
    margin-right: 13vw;
  }

  .lugares img {
    width: 12vw;
    margin-top: 15%;
  }
}
