/*--------------------INTRO---------------------*/
#intro {
  height: auto;
  padding-bottom: 10%;
  background-image: url(../img/fundo.svg);
  background-position: center;
  background-size: cover;
}

.abertura-img {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 10;
}

.abertura-img img {
  position: absolute;
  width: 50vw;
  transition: 2s;
}

.abertura-img #direita {
  left: 50vw;
}

#frase-intro {
  padding: 15% 0;
  font-size: 1.5em;
  z-index: 20;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 2s;
}

#frase-intro p {
  margin: 2% 0 10% 0;
}

#frase-intro a {
  background-color: #d92d2d;
  text-decoration: none;
  color: #fff;
  padding: 2% 4%;
  transition: 0.2s;
}

#frase-intro a:hover {
  background-color: #fff;
  color: #d92d2d;
}

#fundo-abertura {
  position: fixed;
  z-index: 10;
  background-color: #1f1f1f;
  width: 100vw;
  height: 100vh;
  display: none;
}

.intro-img img {
  width: 60vw;
  margin-left: 35vw;
  margin-top: 15vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.conteudo-saudacao {
  display: flex;
  margin-top: 10vh;
}

.conteudo-saudacao video {
  margin-left: 5vw;
  width: 45vw;
}

.conteudo-saudacao video:focus {
  outline: none;
}

.texto-saudacao {
  margin: 5vw;
}

.texto-saudacao h1 {
  font-size: 2em;
  color: #fff;
  font-weight: 900;
}

.texto-saudacao p {
  color: #fff;
  font-size: 1.5em;
  margin-top: 3%;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .texto-saudacao p {
    font-size: 1em;
  }

  .abertura-img img {
    display: none;
  }

  #fundo-abertura {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .conteudo-saudacao {
    margin-top: 15%;
    display: block;
  }

  .conteudo-saudacao video {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .texto-saudacao {
    margin-top: 5%;
  }

  .texto-saudacao p {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  #frase-intro {
    font-size: 0.8em;
  }
}

/*--------------------ESPETÁCULOS---------------------*/
#espetaculos {
  height: auto;
  padding-bottom: 4vh;
  background: #202020;
}

#espetaculos h1 {
  padding-top: 5%;
  color: #fff;
  margin-left: 5%;
  font-size: 2em;
  font-weight: 900;
}

.slider-container {
  margin-top: 2%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.m-slider {
  display: none;
}

.cartazes-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  clear: both;
  position: relative;
}

#cartazes-container-one {
  margin-left: 14vw;
  transition: 1.5s;
}

#cartazes-container-two {
  opacity: 0;
  transition: 1.5s;
}

.cartazes-container img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  width: 20vw;
  margin-right: 6vw;
  position: relative;
  transition: 0.2s;
}

.cartazes-container img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
}

.controls img {
  cursor: pointer;
  width: 3%;
}

.controls a {
  margin-top: 0.5vh;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

.controls a:hover {
  color: #d92d2d;
}

@media screen and (max-width: 800px) {
  #espetaculos {
    padding-bottom: 10%;
  }

  .d-slider {
    display: none;
  }

  .m-slider {
    display: flex;
    margin-top: 10%;
  }

  .m-cartazes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    clear: both;
    position: relative;
  }

  #m-cartazes-container-one {
    margin-left: 12vw;
    transition: 1.5s;
  }

  #m-cartazes-container-two {
    opacity: 0;
    transition: 1.5s;
  }

  #m-cartazes-container-three {
    opacity: 0;
    transition: 1.5s;
  }

  .m-cartazes-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    width: 35vw;
    margin-right: 6vw;
    position: relative;
    transition: 0.2s;
  }

  .m-cartazes-container img:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.1);
  }

  .controls img {
    width: 5%;
  }

  .controls a {
    font-size: 1em;
  }
}

/*--------------------FORM---------------------*/
#subscricao {
  height: 500px;
  background-image: url(../img/fundoform.jpg);
  background-position: center;
  background-size: cover;
}

.formulario {
  float: right;
  margin-right: 5%;
  height: 100%;
  width: 45%;
}

.formulario h2, .formulario p {
  text-align: right;
}

.formulario h2 {
  font-size: 3em;
  color: #fff;
  margin-top: 10%;
}

.formulario p {
  font-size: 2em;
  color: #d92d2d;
}

.formulario input:focus {
  outline: none;
}

.nome {
  margin-top: 10%;
}

.nome, .mail {
  margin-left: calc(100% - 31vw);
  border-radius: 3px;
  width: 30vw;
  height: 6vh;
  font-size: 1em;
  background: transparent;
  padding-left: 10px;
  color: #777;
  border: 1px solid #777;
}

.mail {
  margin-top: 10px;
}

.sub {
  margin-left: calc(100% - 31vw);
  margin-top: 2%;
  border-radius: 3px;
  height: 6vh;
  width: 31vw;
  font-size: 1em;
  background: transparent;
  padding-left: 10px;
  color: #777;
  border: 1px solid #777;
  cursor: pointer;
}

.sub:hover {
  background: #d92d2d;
  border: none;
  color: #202020;
}

@media screen and (max-width: 800px) {
  #subscricao {
    height: 400px;
  }

  .formulario {
    width: 60%;
  }

  .formulario h2 {
    font-size: 2em;
  }

  .formulario p {
    font-size: 1em;
  }

  .nome, .mail {
    width: 40vw;
    margin-left: calc(100% - 41vw);
  }

  .sub {
    margin-left: calc(100% - 41vw);
    width: 42vw;
  }
}

@media screen and (max-width: 400px) {
  .formulario h2 {
    margin-top: 30%;
  }

  .nome, .mail {
    width: 50vw;
    margin-left: calc(100% - 55vw);
  }

  .sub {
    margin-top: 3%;
    width: 52vw;
    margin-left: calc(100% - 54vw);
  }
}
