*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

nav img{
  position: absolute;
  width: 10%;
  margin: 20px 20px;
}
.hamburguer {
  position: absolute;
  right: 0;
  margin-top: 30px;
  margin-right: 50px;
  z-index: 1;
  cursor: pointer;
}


/*---Desenha as 3 barras do hamburguer---*/
.barra {
  position: fixed;
  display: block;
  background: #d92d2d;
  width: 30px;
  height: 3px;
  transition: .5s ease-in-out;
}
.barra:before,
.barra:after {
  background: #d92d2d;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}
.barra:before {
  top: -10px;
}
.barra:after {
  bottom: -10px;
}
#hamburguer , #menu{
  display: none;
}
/*--Rotação das barras para formar uma cruz--*/
input:checked~label .barra {
  transform: rotate(45deg);
  background: #fff;
}
input:checked~label .barra:before {
  transform: rotate(90deg);
  top: 0;
  background: #fff;
}
input:checked~label .barra:after {
  transform: rotate(90deg);
  bottom: 0;
  background: #fff;
}
input:checked~label .menu {
  display: block;
}

/*--Desenho do menu--*/
.menu{
  display: none;
  position: fixed;
  width: 100vw;
}
.menu-info {
  float: right;
  background-color: #d92d2d;
  width: 30vw;
  height: 100vh;
  right: 0;
  box-shadow: -5px 0px 50px 0px #202020;
}
.menu ul{
  margin-top: 40%;
}
.menu li{
  margin-top: 20px;
  list-style: none;
  text-align: right;
  margin-right: 20px;
}
.menu a {
  font-size: 3em;
  text-decoration: none;
  color: #fff;
}
.menu a:hover{
  color: #000;
  transition: 0.3s;
}
.menu h1{
  position: absolute;
  font-weight: 900;
  font-size: 450px;
  color: transparent;
  -webkit-text-stroke: 5px #000;
  right: 10px;
  top: 400px;
}
.menu-transp{
  position: absolute;
  width: 70vw;
  height: 100vh;
  background: rgba(20,20,20,0.8);
}



/*--------------------INTRO---------------------*/
.animacao-intro{
  display: none;
}
.esquerda {
  background-color: #d92d2d;
  transition:0.5s;
  display: inline-block;
  width: 50%;
  height: 100vh;
}
.direita {
  background-color: #000;
  transition:0.5s;
  display: inline-block;
  float: right;
  width: 50%;
  height: 100vh;
}
.animacao-intro:hover > .esquerda{
  width: 0;
}
.animacao-intro:hover > .direita{
  width: 0;
}
#intro {
  height: 800px;
}
#intro img {
  z-index: -1;
  width: 60%;
  position: absolute;
  left:0;
  right:50px;
  margin-top: 130px;
  margin-left:auto;
}




/*--------------------SAUDAÇÃO---------------------*/
#saudacao {
  height: 600px;
}
.conteudo-saudacao {
  display: flex;
}
.conteudo-saudacao video {
  margin-left: 50px;
  width: 50vw;
}
.texto-saudacao {
  margin: 50px;
}
.texto-saudacao h1{
  font-size: 2em;
  color: #d92d2d;
  font-weight: 900;
}
.texto-saudacao p{
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: lighter;
}



/*--------------------ESPETÁCULOS---------------------*/
#espetaculos{
  height: 700px;
}
#espetaculos h1{
  margin-left: 50px;
  font-size: 2em;
  font-weight: 900;
}
#espetaculos a{
  text-align: center;
}
.slider{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.cartaz{
  background: #202020;
  padding: 15px 15px 50px 15px;
}
.cartaz img{
  width: 250px;
}
.cartaz p{
  color: #fff;
}


/*--------------------FORM---------------------*/
#subscricao {
  height: 500px;
  background-image: url(../img/fundoform.jpg);
  background-position: center;
  background-size: cover;
}
form {
  width: 600px;
  height: 450px;
  margin-top: 200px;
  margin-right: 50px;
  border: 2px solid #fff;
  float: right;
}
.info-form {
  margin-top: 50px;
  margin-right: 50px;
  text-align: right;
}
.info-form h2{
  font-size: 2em;
  color: #fff;
}
.info-form p{
  color: #d92d2d;
}
input:focus {
  outline: none;
}
.inserir{
  margin-left: 50px;
  margin-top: 50px;
}
.inserir input{
  width: 375px;
  height: 50px;
  margin-top: 10px;
  font-size: 1em;
  background: transparent;
  padding-left: 10px;
  color: #fff;
  border: 1px solid #fff;
}
.submissao {
  margin-top: 20px;
  margin-left: 50px;
}
.submissao input{
  width: 387px;
  height: 50px;
  font-size: 1em;
  background: transparent;
  padding-left: 10px;
  color: #777;
  border: 1px solid #777;
  cursor: pointer;
}
.submissao input:hover{
  background: #777;
  color: #202020;
}

/*--------------------FOOTER---------------------*/
footer{
  background-color: #202020;
  height: 400px;
}
.footer-container{
  display: flex;
  justify-content: center;
}
